.rodapie__icon {
  margin-right: 1.25rem;
}

@media screen and (min-width: 0) {
  .rodapie__icon {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .rodapie__icon {
    margin-right: 1.25rem;
  }
}
