.rodapie__descripcion {
  color: #8C8888;
  align-items: center;
  display: flex;
}

@media screen and (min-width: 0) {
  .rodapie__descripcion {
    font-size: 1.5rem;
    margin-left: 0rem;
    
    
  }
}
@media screen and (min-width: 768px) {
  .rodapie__descripcion {
    font-size: 2rem;
    margin-left: 5rem;
  }
}