.receta__boton {
  background: #DA2B1F;
  color: #fdfdfd;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.receta__boton:hover {
  background: #9f1010;
}